* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    /* margin: auto; */
    /* padding:14px 10px ; */
    position: fixed;
    right: 10%;
    z-index: 50;
}

.parent-nav {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

header .logo {
    font-size: 10px;
}

.parent-nav ul {
    display: flex;
    align-items: center;
    column-gap: 40px;
    border-right: 1px solid gray;
    padding: 5px 20px 5px 0px;
}

.parent-nav ul li {
    list-style: none;
    font-size: 15px;
}

.parent-nav .right-contact {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

/* VERY IMPORTANT to get a circle use border radius of 50% play with it and check everythig out */
.parent-nav .right-contact .right-contact-icon {
    background-color: #61C3A1;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}




.parent-nav .right-contact .right-contact-text p {
    font-size: 12x;
    line-height: 18px
}


.parent-nav .right-contact .right-contact-text span {
    color: grey;
}


/* global styling */
.parent-flex {
    height: 100vh;
    width: 100%;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* global styling */
.container {
    height: 80%;
    /* background-color: rgb(58, 56, 51); */
    width: 80%;
    display: flex;
}

/* global styling */
.left {
    width: 50%;
    height: 100%;
    background-color: rgb(133, 55, 55);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CAR SERVICES SECTION */
.service-left {
    display: flex;
    background-color: #E2E6E9;
    column-gap: 10px;
    padding-top: 35px;
}

.car-service-bg .left {
    background-color: #E2E6E9;
}

.car-service-bg {
    background-color: #E2E6E9;
}

.car-service-bg p {
    font-size: 11px;
    padding-top: 4px;
    color: #1e1b1b;
}

.car-service-bg .left #service-p {
    padding-right: 70px;
    color: black;
    font-size: 11px;
    padding-top: 15px;
}

.car-service-bg h1 {
    padding-right: 30px;
}

.service-left-left {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-service-bg .right {
    background-color: #E2E6E9;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding-top: 110px;
}


.car-service-bg .right form input {
    display: flex;
    align-items: start;
    height: 6vh;
    width: 55vh;
    margin-left: 10px;
    background-color: white;
    border: none;
    margin-bottom: 1px;
    padding-left: 10px;
}

.car-service-bg .right h3 {
    padding-bottom: 20px;
    padding-left: 10px;
}

.car-service-bg .right .btn {
    padding-left: 10px;
}



.service-arrow {
    display: flex;
    /* background-color: #661ce7; */
    justify-content: center;
    align-items: center;
    margin-left: 18px;
}



main .container .left-text {
    /* width: 50%; */
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}

main .container .left-text .content {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 100px 15px 50px 20px;
}

/*  CHECK VERY IMPORTANT FOR HOVERS - check for Cusor, transition  etc*/
.btn {
    display: flex;
    justify-content: left;
    margin-top: 10px;
    cursor: pointer;
    /* transition: ease-in-out 0.2s; */
}

.btn:hover ::before {
    transform: scale(00.2s);
    /* background-color:red; */

}

.btn button {
    background-color: #FF6433;
    color: white;
    padding: 10px 24px 10px 24px;
    border: none;
    border-radius: 12px;
}




.right {
    width: 50%;
    height: 100%;
    background-color: rgb(81, 81, 139);
    display: flex;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}


main .container .right-img {
    background-image: url('../IMAGES/Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}


main .container .right-img .service {
    position: absolute;
    left: -21%;
    top: 0;
}

main .container .right-img .rating {
    position: absolute;
    right: -18%;
    bottom: 0;
}


.icon {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    column-gap: 10px;
}

.icon span {
    color: grey;
}




/* SECTION - QUOTE */
#get-a-quote-section .container .left .left-qoute {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: white;
}

.left .quote-bg {
    background-color: white;
}


#get-a-quote-section .container .left p {
    font-size: 11px;
    color: #1e1b1b;
    padding-top: 15px;
}

#get-a-quote-section .container .left .btn {
    padding-top: 15px;
}


.right-quote-right {
    border-left: 2px dotted #FF6433;
    padding-left: 10%;
    margin-left: 17px;
    margin-top: 5px;
}

.quote-bg {
    background-color: white;
}

.right-quote {
    background-color: white;
    column-gap: 10px;
    padding-top: 15px
}

.get-quote {
    display: flex;
    gap: 10px;
}

.quotex {
    padding-top: 80px;
    padding-left: 90px;
}

.right-quote p {
    margin-bottom: 1px;
    font-size: 11px;
    padding-top: 3px;
}

.right-quote #quote-p {
    margin-left: 50px;
}

.right-quote-left {
    background-color: #661ce7;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* SECTION WHAT WE OFFER */
#what-we-offer .container {
    background-color: #E2E6E9;
}

#what-we-offer .offer-content {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 30px;
}

#what-we-offer .offer-content .what-we-offer-card {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}

#what-we-offer .offer-content .what-we-offer-card .card1 {
    background-color: white;
    width: 230px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#what-we-offer .offer-content .what-we-offer-card :hover {
    background-color: #FF6433;
}

#what-we-offer .offer-content .what-we-offer-card .card1 p {
    padding-top: 5px;
    padding-right: 10px;
}

#what-we-offer .offer-content .what-we-offer-card #card1-wheel {
    background-color: white;
}


#what-we-offer .offer-content .offercard {
    text-align: right;
    font-size: 11px;
    padding-right: 82px;
    padding-top: 10px;
}

.of {
    background-color: #E2E6E9;
}


/* SECTION GET-IN-TOUCH */


#get-in-touch .first-row {
    display: flex;
    width: 100%;
    height: 75%;
}


#get-in-touch .first-row .left-car {
    width: 50%;
    height: 100%;
    background-image: url(../IMAGES/left-car-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}


#get-in-touch .first-row .left-car .left-car-card {
    background-color: #FF6433;
    width: 70%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 75px; */
    /* margin-left: 210px; */
}

#get-in-touch .first-row .left-car .left-car-card .content-left h1 {
    color: #FFFFFF;
}



#btn-touch {
    background-color: #1E1B1B;
    color: #FFFFFF;
}

#btn-touch:hover {
    background-color: #939191;
    transition: border-color 0s, width 0.3s, height 0.3s;
    width: 100%;
    height: 100%;
}


#get-in-touch .first-row .left-car .left-car-card .content-left .btn {
    padding-top: 30px;
}


#get-in-touch .first-row .right-car {
    width: 50%;
    height: 100%;
    background-image: url(../IMAGES/right-plug-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.second-row {
    width: 100%;
    height: 20%;
}

.second-row .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 150px;
    background-color: #F2F2F2;
}

.second-row .container h1 {
    font-size: 30px;
    color: #661CE7;
    ;
}

.second-row .container p {
    color: #1E1B1B;
    font-size: 12px;
}



/*  SECTION -QUESTIONS */
.question {
    background-color: #E2E6E9;
}

.question p {
    font-size: 11px;
}


.question1 p {
    font-size: 11px;
}

.zero {
    background-color: #FFFFFF;
    width: 45%;
    height: 90px;
    margin-top: 30px;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-left: 10px;
}

.zero p {
    padding-top: 10px;
    color: #939191;
}

.plus {
    background-color: white;
    width: 45%;
    height: 50px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}



/* SECTION- NICE THINGS */

.nicex {
    background-color: #F2F2F2
}

.niceimage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F2F2;
    width: 130vh;
    height: 40vh;
    gap: 40px;
    margin-top: 50px;
}

.nice1 h1 {
    display: flex;
    justify-content: center;
}

.nice1 p {
    font-size: 11px;
}

.nice-image-left {
    display: flex;
    align-items: start;
    gap: 10px;
    padding-right: 135px;
    padding-bottom: 5px;
}




.nice2 {
    background-color: white;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.niceimage :hover {
    background-color: #FF6433;
}

.nice-image-right {
    width: 50%;
    background-color: aliceblue;
    height: 100%;
}

/* SECTION - FOOTER */
.footer-bg {
    background-color: #222020;
    width: 100%;
    height: 60vh;
}

.footer-bg h2 {
    color: white;
}

.footericon {
    display: flex;
    gap: 10px;
    padding-top: 20px;
    padding-right: 130px;
}

.footer-right {
    background-color: #222020;
    width: 50%;
    padding-top: 80px;
    padding-left: 20px;
}

.footer-right p {
    color: #FFFFFF;
    font-size: 11px;
}

.footer-right h4 {
    padding-bottom: 10px;
    color: #FFFFFF;
}

.footer-left {
    background-color: #222020;
}

.footer-head {
    display: flex;
    column-gap: 100px;
    padding-left: 295px;
    align-items: center;
    background-color: #1E1B1B;
    border: 1px solid #1E1B1B;
    width: 100%;
}

.footer-logo {
    color: #FFFFFF;
}


.footer-nav {
    display: flex;
    align-items: center;
}

.footer-head p {
    font-size: 11px;
    color: #FFFFFF;
}

.footer-nav ul {
    display: flex;
    align-items: center;
    column-gap: 30px;
    padding: 30px 20px 30px 0px;
    color: #FFFFFF;
}

.footer-nav ul li {
    list-style: none;
    font-size: 11px;
}

/* BRAND WE SWERVE */

.brand-flex {
    background-color: white;
    width: 100%;
    height: 50vh
}

.brand1 {
    padding-top: 10px;
}


/* MEDIA QUERY CODES */

/* MOBILE */

@media screen and (max-width: 425px) {
    .parent-flex {
        height: auto;
        padding: 5px;
    }


    .container {
        height: auto;
        background-color: white;
    }

    header {
        position: static;

    }

    header {
        width: 100%;
        padding: 5px;
        flex-direction: column;
    }

    header h1 {
        font-size: 15px;
    }

    .parent-nav {
        flex-direction: column;

    }

    .parent-nav ul {
        column-gap: 10px;
        border: none;
    }

    .parent-nav ul li {
        font-size: 12px;
    }

    .parent-nav .right-contact .right-contact-icon {
        width: 23px;
        height: 23px;

    }

    .parent-nav .right-contact .right-contact-icon .icon {
        font-size: 7px;
    }


    .parent-nav .right-contact .right-contact-text span {
        font-size: 12px;
    }

    .parent-nav .right-contact .right-contact-text p {
        font-size: 12px;
    }



    .container {
        flex-direction: column-reverse;
        width: 100%;
        padding: 0 10px;
        row-gap: 20px;
    }

    .left {
        width: 100%;
        padding: 10px 0px;
    }

    .right {
        width: 100%;
        padding: 20px 0;
    }

    main .container .left-text .content {
        text-align: center;
        width: 100%;
    }

    main .container .left-text .content h1 {
        font-size: 25px;
    }

    main .container .left-text .content .btn {
        display: flex;
        justify-content: center;
        align-content: center;

    }

    .icon {
        flex-direction: column;
    }


    .greyicontext span,
    p {
        font-size: 10px;
    }

    main .container .right-img {
        height: 50vh;
    }

    h3 {
        font-size: 25px;
    }

    .right-img img {
        width: 40%;
    }


    main .container .right-img .service {
        position: absolute;
        left: -15px;
        top: 0px;
    }

    main .container .right-img .rating {
        position: absolute;
        right: 0%;
        bottom: 0px;
    }


    h1 {
        font-size: 25px;
    }


    /* car services */

    .car-service-bg .container {
        display: flex;
        flex-direction: column;
    }

    .car-service-bg .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .car-service-bg .right h3 {
        text-align: center;
    }


    .car-service-bg .right form input {
        height: 6vh;
        width: 43vh;
    }




    /* qoute */
    #get-a-quote-section .container {
        display: flex;
        flex-direction: column;
    }

    #get-a-quote-section .container .left .left-qoute {
        align-items: center;
    }

    .quotex {
        padding: 0px 0px
    }


    /* what-we-offer */


    #what-we-offer .of {
        background-color: #FFFFFF;
    }


    #what-we-offer .offer-content .what-we-offer-card .card1 {
        width: 100px;
        height: 100px;
    }

    /* get-in-touch */

    #get-in-touch {
        height: auto;
    }

    #get-in-touch .first-row {
        flex-direction: column;
        height: auto;
    }

    #get-in-touch .first-row .left-car {
        width: 100%;
    }

    #get-in-touch .first-row .right-car {
        height: 30vh;
        width: 100%;
    }

    #get-in-touch .first-row .left-car .left-car-card .content-left h1 {
        font-size: 15px;
    }

    #get-in-touch .first-row .left-car .left-car-card {
        height: 50vh;
    }

    #get-in-touch .second-row {
        height: auto;
        padding: 15px 0;
    }

    #get-in-touch .second-row .container- {
        flex-wrap: wrap;
        width: 100%;
    }

    #get-in-touch .second-row .container .one {
        column-gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    #get-in-touch .second-row .container .one p {
        font-size: 14px;
    }

    #get-in-touch .second-row .container .one h1 {
        font-size: 15px;
    }

}

/* for tablet */
@media screen and (max-width: 850px) and (min-width: 425px) {
    header {
        flex-direction: column;
    }

    .parent-flex {
        height: auto;
    }

    header .container {
        width: 100%;
        height: auto;
    }

    .parent-flex .container {
        /* width: auto; */
        padding: 20px;
        height: auto;

    }

    .right {
        height: 100vh;
    }

    header h1 {
        font-size: 25px;

    }

    .parent-nav ul {
        column-gap: 30px;
        border: none;
    }

    .parent-nav ul li {
        font-size: 15px;
    }

    nav .right-contact .right-contact-icon {
        width: 22px;
        height: 22px;
    }

    nav .right-contact .right-contact-icon .icon {
        font-size: 15px;
    }

    nav .right-contact .right-contact-text p {
        font-size: 15px;
        /* padding-bottom: 10px; */
    }

    h1 {
        font-size: 22px;
    }


    .greyicontext span,
    p {
        font-size: 13px;
    }

    main .container .right-img .service {
        position: absolute;
        top: 50px;
        width: 60%;
    }

    main .container .right-img .rating {
        position: absolute;

        width: 60%;
    }


    /* quote */
    
    #get-a-quote-section .container .left .left-qoute {
        align-items: center;
        padding-top: 27px;
    }

    .quotex {
        padding: 0px 0px
    }

    .left-qoute {
        width: 100%;
    }



    /* car servicing */

    .car-service-bg .right form input {
        height: 50px;
        width: 360px;
    }

    .car-service-bg .right {
        padding-top: 10px;
    }

    /* what we offer */
    #what-we-offer .offer-content .what-we-offer-card .card1 {
        width: 149px;
        height: 150px;
    }


    /* get in touch */
    #get-in-touch {
        height: auto;
    }

    #get-in-touch .first-row {
        flex-direction: column;
        height: auto;
    }

    #get-in-touch .first-row .left-car {
        width: 100%;
    }

    #get-in-touch .first-row .right-car {
        height: 30vh;
        width: 100%;
    }

    #get-in-touch .second-row .container- {
        flex-wrap: wrap;
        width: 100%;
    }

    #get-in-touch .second-row .container .one {
        /* column-gap: 10px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    #get-in-touch .second-row .container .one p {
        font-size: 14px;
    }

    #get-in-touch .second-row .container .one h1 {
        font-size: 15px;
    }


    #get-in-touch .first-row .left-car .left-car-card {
        height: 30vh;
    }


    .second-row .container {
        column-gap: 65px;
    }

}





/*  Tablet potrait */
@media screen and (max-width: 1024px) and (min-width: 768px) {
    .header {
        flex-direction: column;
        padding-bottom: 10px;
    }


    .parent-flex {
        height: auto;
    }

    header .container {
        /* width: 100%; */
        padding: 10px;
        height: auto;

    }

    .right {
        height: auto;
    }

    header h1 {
        font-size: 22px;
    }

    .parent-nav ul {
        column-gap: 30px;
        border: none;
    }

    .parent-nav ul li {
        font-size: 15px;
    }

    nav .right-contact .right-contact-icon {
        width: 22px;
        height: 22px;
    }

    nav .right-contact .right-contact-icon .icon {
        font-size: 15px;
    }

    nav .right-contact .right-contact-text p {
        font-size: 15px;
    }

    h1 {
        font-size: 22px;
    }


    .greyicontext span,
    p {
        font-size: 13px;
    }



    /* car servicing */

    .car-service-bg .right form input {
        height: 50px;
        width: 360px;
    }

    .car-service-bg .right {
        padding-top: 10px;
    }


    /*  get a quote */
    .left-qoute {
        width: 100%;
    }

    .quotex {
        padding-top: 1px;
        padding-left: 0px;
    }

    /* what we offer */
    #what-we-offer .offer-content .what-we-offer-card .card1 {
        width: 149px;
        height: 150px;
    }


    #what-we-offer .offer-content .offercard {
        text-align: center;
        padding-left: 70px;
    }

    /* get in touch */
    #get-in-touch {
        height: auto;
    }

    #get-in-touch .first-row {
        flex-direction: column;
        height: auto;
    }

    #get-in-touch .first-row .left-car {
        width: 100%;
    }

    #get-in-touch .first-row .right-car {
        height: 30vh;
        width: 100%;
    }

    #get-in-touch .second-row .container- {
        flex-wrap: wrap;
        width: 100%;
    }

    #get-in-touch .second-row .container .one {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    #get-in-touch .second-row .container .one p {
        font-size: 17px;
    }

    #get-in-touch .second-row .container .one h1 {
        font-size: 17px;
    }


    #get-in-touch .first-row .left-car .left-car-card {
        height: 30vh;
    }


    .second-row .container {
        column-gap: 65px;
    }
}